#slogan-container{
    width: 100%;
    height: auto;
    background: url("../assets/cornell.jpg") no-repeat center center;
    background-size: cover;
}

.width-168px{
    width: 168px;
}

.sections-img{
    width: 150px;
    height: 120px;
    border-radius: 3px;
}

.border-right{
    border-right: 3px solid rgb(148, 49, 38)
}


